<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acs.readertest"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.ActivityProfile"
            android:exported="false" />

        <activity
            android:name=".gui.ActivityHelp"
            android:exported="false" />

        <activity
            android:name=".gui.ActivityCarte"
            android:exported="true"
            android:parentActivityName=".gui.ActivityLecteur">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.acs.readertest.gui.ActivityCarte" />
        </activity>

        <activity
            android:name=".gui.ActivityLecteur"
            android:exported="true"
            android:parentActivityName=".gui.ActivityPageAccueil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.acs.readertest.gui.ActivityLecteur" />
        </activity>

        <activity
            android:name=".gui.ActivitySettings"
            android:exported="true"
            android:parentActivityName=".gui.ActivitySimpleMode" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.acs.readertest.gui.ActivitySettings" />

        <activity
            android:name=".gui.ActivityPageAccueil"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".gui.ActivityPageAccueil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.acs.readertest.MainActivity" />
        </activity>

        <activity
            android:name=".gui.ActivitySimpleMode"
            android:exported="true"
            android:parentActivityName=".gui.ActivityPageAccueil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.acs.readertest.gui.ActivitySimpleMode" />
        </activity>
    </application>

</manifest>